.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: $form-padding;
    background-color: $color-gray-08;
    border-radius: $form-border-radius;
    box-shadow: $form-box-shadow;
    margin-top: 25px;

    .form-group {
        margin-bottom: $padding-medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            color: $label-color;
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        input[type="text"],
        input[type="date"],
        input[type="file"],
        textarea {
            width: 100%;
            padding: $input-padding;
            margin-bottom: 10px;
            border: $input-border;
            border-radius: $input-border-radius;
            font-size: 14px;
            background-color: $color-white;
            box-sizing: border-box;

            &:focus {
                border-color: $button-bg-color;
                outline: none;
            }
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        &.areas-section .areas-section-container {
            display: flex;
            flex-direction: row;
            column-gap: $padding-medium;
        }
    }

    .file-preview {
        margin-top: 10px;
        max-width: 200px;
        max-height: 200px;

        .preview-image {
            width: 100%;
            height: auto;
            border-radius: $input-border-radius;
        }
    }

    .error {
        color: $error-color;
        font-size: 13px;
        margin-bottom: 15px;
    }

    .experience-section {
        margin-bottom: $padding-medium;
        width: 100%;
    }

    .experience-item {
        margin-bottom: $padding-medium;
        padding: 15px;
        border: $input-border;
        border-radius: $input-border-radius;
        background-color: $color-white;

        .form-group {
            margin-bottom: 15px;
        }

        .remove-button {
            background-color: $error-color;
            color: $color-white;
            padding: $button-padding;
            border: none;
            border-radius: $button-border-radius;
            cursor: pointer;
            width: 100%;

            &:hover {
                background-color: darken($error-color, 10%);
            }
        }
    }

    .add-button,
    .submit-button,
    .next-button {
        background-color: $button-bg-color;
        color: $button-text-color;
        padding: $button-padding;
        border: none;
        border-radius: $button-border-radius;
        cursor: pointer;
        margin-right: 10px;
        width: 100%;

        &:hover {
            background-color: $button-hover-bg-color;
        }

        &:disabled {
            background-color: lighten($button-bg-color, 20%);
            cursor: not-allowed;
        }
    }
}

.step2-form {
    background-color: $color-white;
    padding: $form-padding;
    border-radius: $border-radius-large;
    box-shadow: $form-box-shadow;
    max-width: 500px;
    margin: 25px auto;

    h2 {
        text-align: center;
        font-size: $font-size-large;
        color: $label-color;
        margin-bottom: $padding-medium;
    }

    .tarifas-container {
        .tarifa-item {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            input {
                width: 45%;
                padding: $input-padding;
                border: $input-border;
                border-radius: $border-radius-small;
            }

            button {
                background-color: $color-red-01;
                color: $color-white;
                border: none;
                border-radius: $border-radius-small;
                padding: $input-padding;
                cursor: pointer;

                &:hover {
                    background-color: $color-red-02;
                }
            }

            .error {
                color: $error-color;
                font-size: $font-size-small;
                margin-top: 5px;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: space-between;
        margin-top: $padding-medium;

        .prev-btn,
        .submit-btn {
            background-color: $button-bg-color;
            color: $button-text-color;
            padding: $button-padding;
            border: none;
            border-radius: $border-radius-small;
            cursor: pointer;

            &:hover {
                background-color: $button-hover-bg-color;
            }
        }
    }
}