.panel-admin {
    display: flex;

    .sidebar {
        background-color: $color-gray-02;
        padding: $padding-medium;

        button {
            background-color: $color-green-01;
            color: $color-white;
            border: none;
            padding: $padding-small $padding-medium;
            margin-bottom: $padding-small;
            border-radius: $border-radius-small;
            text-align: left;
            font-size: $font-size-medium;
            width: 100%;
            max-width: 300px;
            cursor: pointer;
            transition: background-color $transition-ease;

            &:hover {
                background-color: $color-green-02;
            }

            &:active {
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .usuarios-list {
        padding: $padding-medium;
        display: flex;
        flex-wrap: wrap;
        gap: $padding-medium;
        width: 100%;
        align-items: center;
    }

    .card {
        border: 1px solid $color-gray-03;
        border-radius: $border-radius-medium;
        padding: $padding-medium;
        background-color: $color-white;
        box-shadow: $box-shadow-large;
        transition: all $transition-ease;
        text-align: center;
        max-width: 300px;
        width: 100%;

        &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

        .card-title {
            font-size: $font-size-large;
            font-weight: bold;
            margin-bottom: $padding-small;
        }

        .card-info {
            margin-bottom: $padding-medium;

            p {
                margin: 5px 0;
                font-size: $font-size-small;
                color: $color-gray-04;
            }
        }

        .card-action button {
            color: $color-white;
            border: none;
            border-radius: $border-radius-small;
            padding: $padding-small $padding-medium;
            cursor: pointer;
            font-size: $font-size-small;

            &.deshabilitado {
                background-color: $color-red-01;

                &:hover {
                    background-color: $color-red-02;
                }
            }

            &.habilitado {
                background-color: $color-blue-01;

                &:hover {
                    background-color: $color-blue-02;
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

    @media (max-width: 768px) {
        .sidebar {
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            transform: translateX(100%);
            z-index: 20;
            max-width: unset;
            height: max-content;
            top: 90px;
        }

        .hamburger {
            display: block;
            position: fixed;
            top: 70px;
            left: 10px;
            z-index: 100;
            left: 20px;
            z-index: 100;
            font-size: 20px;
        }

        &.open {
            .sidebar {
                transform: translateX(0);
                top: 90px;
            }
        }

        .usuarios-list {
            margin-left: 0;
            padding: $padding-medium;
            padding-top: 35px;
            justify-content: center;
        }
    }
}