.ofertantes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    .ofertantes-card {
        background-color: $color-white;
        border-radius: $border-radius-large;
        box-shadow: 7px 13px 37px #0d408b;
        max-width: 300px;
        margin: auto;
        padding: $padding-medium;
        transition: transform $transition-ease, box-shadow $transition-ease;
        width: 100%;
        min-width: 250px;

        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        }

        .ofertantes-image-container {
            display: flex;
            justify-content: center;
            margin-bottom: $padding-small;
            height: 150px;
            width: 150px;
            overflow: hidden;
            border-radius: $border-radius-large;
            margin: 0 auto $padding-small;

            .ofertantes-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .ofertantes-details {
            text-align: center;

            .ofertantes-title {
                font-size: $font-size-large;
                margin-bottom: $padding-small;
                color: $color-gray-05;
            }
        }

        .ofertantes-areas {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: $padding-small;

            .ofertantes-area {
                background-color: $color-gray-10;
                color: $color-gray-11;
                padding: 5px 10px;
                border-radius: $border-radius-large;
                margin: 5px;
                font-size: $font-size-small;
            }

            &+div {
                justify-content: center;
            }
        }

        .stars-container {
            margin-bottom: 14px;
        }

        .ofertantes-button {
            background-color: $color-blue-04;
            color: $color-white;
            padding: $padding-small $padding-medium;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            font-size: $font-size-medium;
            transition: background-color $transition-ease;

            &:hover {
                background-color: $color-blue-05;
            }
        }
    }
}

.servicios {
    padding: 2rem;

    h2 {
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .filters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2rem;
        gap: 5px 15px;

        label {
            font-size: 24px;

            input {
                margin-right: 0.5rem;
            }
        }
    }

    .ofertantes-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        justify-items: center;
    }

    p {
        text-align: center;
        font-size: 1.2rem;
        color: $color-gray-05;
    }
}