.cv-container {
    padding: $padding-medium;
    background-color: $color-gray-09;

    .back-btn {
        margin-bottom: $padding-small;
        background-color: $color-blue-01;
        color: $color-white;
        padding: $padding-small;
        border: none;
        cursor: pointer;
        border-radius: $border-radius-small;
        transition: color $transition-ease, background-color $transition-ease;

        &:hover {
            background-color: $color-blue-02;
        }
    }
}

.cv-content-wrapper {
    max-width: 1460px;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow-medium;
    padding: $padding-large;
    display: flex;
    flex-direction: column;
    gap: $padding-large;
}

.cv-header {
    text-align: center;

    .cv-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid $color-gray-07;
        margin-bottom: $padding-small;
    }

    .cv-name {
        font-size: $font-size-xlarge;
        font-weight: bold;
        color: $color-gray-05;
    }
}

.container-cv-content {
    display: flex;
    gap: $padding-large;
    flex-wrap: wrap;
}

.cv-main-content {
    display: flex;
    justify-content: space-between;
    gap: $padding-large;
    flex: 1;
    flex-wrap: wrap;

    .cv-left,
    .cv-right {
        width: 47%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.cv-left,
.cv-right {
    .cv-content {
        margin-bottom: $padding-medium;
        padding: $padding-medium;
        background-color: $color-gray-08;
        border-radius: $border-radius-medium;
        border: $input-border;
        box-shadow: $box-shadow-small;

        h3 {
            font-size: $font-size-medium;
            margin-bottom: $padding-small;
            color: $color-gray-04;
        }

        p {
            font-size: $font-size-medium;
            color: $color-gray-04;
            line-height: 1.6;
            margin: 5px 0;
        }
    }
}

.cv-footer {
    display: none;
    text-align: center;
    margin-top: $padding-large;

    .cv-rating {
        font-size: $font-size-large;
        color: $color-yellow;
        margin-bottom: $padding-medium;
    }

    .solicitar-btn {
        padding: $padding-small $padding-medium;
        background-color: $color-blue-01;
        color: $color-white;
        border: none;
        border-radius: $border-radius-small;
        font-size: $font-size-medium;
        cursor: pointer;
        transition: background-color $transition-ease;

        &:hover {
            background-color: $color-blue-02;
        }
    }
}

.cv-main-content,
.service-form {
    background-color: $color-white;
    border-radius: $border-radius-large;
    padding: $padding-medium;
    box-shadow: $box-shadow-large;
    margin-left: auto;
    margin-right: auto;
}

.service-form {
    position: relative;
    max-width: 600px;

    h3,
    h4 {
        font-family: 'Poppins', sans-serif;
        color: $color-gray-05;
        margin-bottom: $padding-medium;
        text-align: center;
    }

    .service-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: $padding-medium;
        margin-bottom: $padding-medium;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }

    .textarea-service {
        width: 100%;
        height: 150px;
        padding: $input-padding;
        border: $input-border;
        border-radius: $input-border-radius;
        resize: vertical;
    }

    select,
    input[type="date"] {
        width: 100%;
        padding: $input-padding;
        margin-bottom: $padding-small;
        border: $input-border;
        border-radius: $border-radius-medium;
        font-size: $font-size-medium;
        font-family: 'Poppins', sans-serif;
        background-color: $color-gray-02;
        color: $color-gray-05;
        box-shadow: $box-shadow-small;

        &:focus {
            border-color: $color-blue-01;
            outline: none;
            box-shadow: 0 0 5px rgba(78, 115, 223, 0.5);
        }
    }

    button {
        width: 100%;
        padding: $padding-small;
        background-color: $color-blue-01;
        border: none;
        border-radius: $border-radius-medium;
        font-size: $font-size-medium;
        font-family: 'Poppins', sans-serif;
        color: $color-white;
        cursor: pointer;
        transition: background-color $transition-ease;
        max-height: 55px;

        &:hover {
            background-color: $color-blue-02;
        }

        &:focus {
            outline: none;
        }
    }

    .eliminar-btn {
        background-color: $color-red-01;

        &:hover {
            background-color: $color-red-02;
        }
    }

    p {
        font-family: 'Poppins', sans-serif;
        color: $color-gray-05;
        font-size: $font-size-medium;
        margin: 5px 0;
    }

    .error-message {
        color: $error-color;
        font-size: $font-size-small;
        margin: $padding-medium 0;
    }

    .total {
        font-size: $font-size-large;
        font-weight: bold;
        margin: $padding-medium 0;
        color: $color-gray-05;
        text-align: right;
    }

    .button-send {
        bottom: $padding-medium;
        left: $padding-medium;
    }

    @media (max-width: 768px) {
        padding: $padding-medium;

        select,
        input[type="date"],
        button {
            font-size: $font-size-small;
        }

        .total {
            font-size: $font-size-medium;
        }

        .service-row {
            grid-template-columns: 1fr;
        }
    }
}

.open-calendar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    background: $color-white;
    padding: $padding-medium;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-medium;
    max-width: 600px;
    width: 100%;
    z-index: 1000;
}

.open-calendar h2 {
    margin-top: 0;
    font-size: $font-size-large;
    text-align: center;
}

.open-calendar .rbc-calendar {
    border: none;
    box-shadow: none;
}

.open-calendar .rbc-month-view {
    border: $input-border;
    border-radius: $input-border-radius;
}

.open-calendar {
    .button {
        padding: $padding-small $padding-medium;
        margin: $padding-small;
        font-size: $font-size-medium;
        color: $color-white;
        background-color: $color-blue-01;
        border: none;
        border-radius: $border-radius-small;
        cursor: pointer;
        transition: background-color $transition-ease;

        &:hover {
            background-color: $color-blue-02;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 4px $color-blue-01;
        }

        &.close-modal {
            background-color: $color-red-01;

            &:hover {
                background-color: $color-red-02;
            }
        }

        .rbc-calendar {
            height: 365px !important;
        }
    }

    .container-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}